<div class="px-4 py-5 my-5 text-center flex-column d-flex justify-content-center">
    <img class="d-block mx-auto mb-4" src="..." alt="">
    <h1>Backstage Connection</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">View bands and venues to connect for gig opportunities and more!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center space-between">
        <div class="col px-md-5">
            <h2>VENUES</h2>
            <a href="venue">
                <img src="/assets/venue.jpg" alt="" width="500px" height="auto">
            </a>
        </div>
        
        <div class="col px-md-5">
            <h2>BANDS</h2>
            <a href="band">
                <img src="/assets/bandpic.jpg" alt="" width="500px" height="auto">
            </a>
        </div>
      </div>
    </div>
</div>