<div class="px-4 py-5 my-5 text-center d-flex justify-content-center">
    <img class="d-block mx-auto mb-4" src="..." alt="">
    <h1>Backstage Connection</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">View bands and venues to connect for gig opportunities and more!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <div>
            <a href="venuelink">
                <img src="./venue.jpg" alt="" width="1000px" height="auto">
            </a>
            <h2>VENUES</h2>
        </div>
        <div>
            <a href="bandlink">
                <img src="./maxresdefault.jpg" alt="" width="1000px" height="auto">
            </a>
            <h2>BANDS</h2>
        </div>
      </div>
    </div>
</div>