<br>
<br>
<div class="d-flex justify-content-center justify-space-between-md">
    <div class="d-flex flex-row m-5">
        <img id='concertGif' src='../public/assets/concertGif.gif'/>
        <h2>Welcome to Backstage Connection, it's our goal to help bands and venues get connected to like minded people. To have access to the bands and venues that use this service all you have to do is make an account, you can follow either of the links below.</h2>
    </div>
  </div>
 

  <script src="./js/login.js"></script>