<br />
<br />
<div class="d-flex justify-content-center justify-space-between-md">
  <div class="d-flex justify-content-between flex-row m5">
    <img src="../public/assets/concertGif.gif" />
    <h2 id="landingBio" style="color: white">Welcome to Backstage Connection, it's our goal to help bands and venues
      get connected to like minded people. To have access to the bands and
      venues that use this service all you have to do is make an account, you
      can follow either of the links below.</h2>
  </div>
</div>

<div class="d-flex m5 flex-row m-5">
  <a href="/suBand"><button>Sign up Bands</button></a>
  <a href="/suVenue"><button>Sign up Venues</button></a>
  <a href="/login"><button>Login</button></a>
</div>

<script src="./js/login.js"></script>