<br>
<br>
<div class="d-flex justify-content-center justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title text-center loginColor2">Login</h2>
    <form class="mt-20 form login-form">
      <div class="form-group">
        <label for="email-login"></label>
        <input class="form-input" placeholder="Email" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login"></label>
        <input class="form-input" placeholder="password" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="d-flex justify-content-center btn btn-secondary" type="submit">login</button>
      </div>

      <a href=""
    </form>
  </div>
 

  <script src="./js/login.js"></script>