<div class="row">
      <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Venue name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="website-signup">website:</label>
        <input class="form-input" type="text" id="website-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="phone-signup">phone number:</label>
        <input class="form-input" type="text" id="phone-signup" />
      </div>
      <div class="form-group">
        <label for="location-signup">location:</label>
        <input class="form-input" type="text" id="location-signup" />
      </div>


{{!-- this will be where we have them add images --}}
      {{!-- <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="img" id="img-signup" />
      </div> --}}


      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>