<div class="row d-flex justify-content-center">
      <div class="col-md-6">
    <h2 class="d-flex justify-content-center">Signup</h2>

    <form class="flex-column d-flex justify-content-center form signup-form">

      <div class="d-flex justify-content-center form-group">
        <label for="name-signup"></label>
        <input class="form-input" placeholder="Band Name" type="text" id="name-signup" />
      </div>

     <div class="d-flex justify-content-center form-group">
        <label for="website-signup"></label>
        <input class="form-input" placeholder="Link to your music" type="text" id="website-signup" />
      </div>

     <div class="d-flex justify-content-center form-group">
        <label for="email-signup"></label>
        <input class="form-input" placeholder="Email" type="text" id="email-signup" />
      </div>

     <div class="d-flex justify-content-center form-group">
        <label for="phone-signup"></label>
        <input class="form-input" placeholder="Phone Number" type="text" id="phone-signup" />
      </div>

     <div class="d-flex justify-content-center form-group">
        <label for="location-signup"></label>
        <input class="form-input" placeholder="Genre" type="text" id="genre-signup" />
      </div>


{{!-- this will be where we have them add images --}}
      {{!--<div class="d-flex justify-content-center form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="file" id="img-signup" />
      </div> --}}


     <div class="d-flex justify-content-center form-group">
        <label for="password-signup"></label>
        <input class="form-input" placeholder="Password" type="password" id="password-signup" />
      </div>
     <div class="d-flex justify-content-center form-group">
        <label for="password-signup"></label>
        <input class="form-input" placeholder="bio" type="text" id="bio-signup" />
      </div>
     <div class="d-flex justify-content-center form-group">
        <button class="btn btn-secondary" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/signUpBand.js"></script>